.App-header{
  background-color: #4d739e;
  min-height: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}