<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://cacherefreshazurefunction198412.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ac45c7cf-d3be-400c-95ab-4fc82887da98/resourcegroups/myresourcegroup/providers/Microsoft.Web/sites/CacheRefreshAzureFunction198412</ResourceId>
    <UserName>$CacheRefreshAzureFunction198412</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://cacherefreshazurefunction198412.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>